.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .container {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .container > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
  }
  .keypad {
    height: 80vh;
    flex: 1;
    background-color: rgb(59, 58, 58);
  }
  .numbers {
    height: 20vh;
    flex: 1;
    background-color: rgb(59, 58, 58);
  }
  .options {
    height: 20vh;
    flex: 1;
    background-color: rgb(59, 58, 58);
  }
  .display {
    height: 80vh;
    flex: 1;
    background-color: rgb(59, 58, 58);
  }
  .stopButton {
    height: 30vh;
    flex: 1;
    background-color: red;
    color: white;
    font-size: larger;
  }
  .homeButton {
    height: 30vh;
    flex: 1;
    background-color: grey;
    color: white;
    font-size: larger;
  }
  .goButton {
    height: 30vh;
    flex: 1;
    background-color: grey;
    color: white;
    font-size: larger;
  }
  .length {
    height: 10vh;
    flex: 1;
    background-color: grey;
  }
  .number {
    height: 10vh;
    flex: 1;
    background-color: grey;
  }